<!-- PAGE HEADER -->
<div class="container page-header ph-bg2">
  <div class="row">
    <div class="twelve columns">
      <% if (current_user.admin? rescue false) %>
        <p class="page-title">Créer un compte POS</p>
      <% else %>
        <p class="page-title"><%= @sign_action %> vous</p>
      <% end %>
      <ul class="breadcrumbs">
        <li><a href="<%= root_path %>">Accueil</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER -->

<!-- CIRCLES BLOCK -->
<div class="container circles_block_without_margin_white">
  <div class="row">
    <ul class="ch-grid">

      <li>
        <div class="ch-item ch-customer">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-customer"></div>
              <div class="ch-info-back">
                <a href = 'http://195.14.0.128:8080/PAYMONEY_WALLET' target = "_blank">
                  <h3>Marchand</h3>
                  <p>Faites tous vos achats avec votre seul compte 24/7 dans vos boutiques préférées<a href="#">Plus +</a></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-merchant">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-merchant"></div>
              <div class="ch-info-back">
                <a href = "<%= @sign_url %>">
                  <h3>Particulier</h3>
                  <p>Une seule intégration pour bénéficier de tous les moyens de paiements connectés à PayMoney.<br />Plus +</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
<!-- END CIRCLES BLOCK -->
