<div class="pricing-table">
  <div class="pricing_plan1 columns">
    <dl class='plans' >
      <dd class="plan_title">Fiche de qualification</dd>
    </dl>
    <dl class='plan' id="one">
      <dd class="plan_features">
        <div class = "quoteBox">
          <div class = "quote-text">
            <p class = "p-formatting">
              Cette fiche de qualification obligatoire permet à <b>PayMoney</b> de procéder à la qualification des sites marchands (e-commerces) qui souhaitent s’arrimer à sa plateforme monétique.
            </p>
            <p class = "p-formatting">
              <b>Veuillez renseigner ces champs avec un maximum de précisions.</b>
            </p>
          </div>
          <p>
            <div class = "registration-image">
            </div>
          </p>
        </div>
      </dd>
    </dl>
  </div>
</div>
