<p>Bonjour <%= @resource.email %>!</p>

<p>Une requête de réinitialisation de mot de passe a été émise. Vous pouvez changer votre mot de passe via le lien ci dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si vous n'êtes pas l'auteur de cette requête, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas changé tant que vous n'aurez pas cliqué sur le lien ci dessus et modifié votre mot de passe actuel.</p>

<p><b>Paymoney</b></p>
